@import '../../../styles/index.scss';

.section1 {
    background-color: white;
    padding-top: 40px;

    .container {

        section {
            text-align: center;

            h2 {
                font-size: 60px;
                font-weight: 350;

                @media (max-width: 1024px) {
                    font-size: 48px;
                    text-align: center;
                }

                @media (max-width: 920px) {
                    font-size: 38px;
                    text-align: center;
                }

                @media (max-width: 768px) {
                    font-size: 36px;
                    text-align: center;
                }

                @media (max-width: 576px) {
                    font-size: 34px;
                    text-align: center;
                }
            }

            p {
                padding: 20px;
                font-size: 24px;
                font-weight: 500;

                @media (max-width: 1024px) {
                    font-size: 22px;
                    text-align: center;
                }

                @media (max-width: 920px) {
                    font-size: 20px;
                    text-align: center;
                }

                @media (max-width: 768px) {
                    font-size: 24px;
                    text-align: center;
                }

                @media (max-width: 576px) {
                    font-size: 14px;
                    text-align: center;
                }

                // @media (max-width: 420px) {
                //     font-size: 14px;
                //     text-align: center;
                // }

            }

            .collection {

                .img {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 20px;
                    width: 100%;
                    height: 100%;

                    @media (max-width: 576px) {
                        grid-template-columns: 1fr;

                    }

                    img {
                        width: 420px;
                        height: 380px;
                        object-fit: cover;
                        cursor: pointer;

                        &:hover {
                            box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
                            margin-top: 5px;
                        }

                        @media (max-width: 1280px) {
                            width: 360px;
                            height: 340px;
                        }


                        @media (max-width: 1160px) {
                            width: 300px;
                            height: 280px;
                        }

                        @media (max-width: 1024px) {
                            width: 280px;
                            height: 250px;
                        }

                        @media (max-width: 920px) {
                            width: 250px;
                            height: 230px;
                        }


                        @media (max-width: 768px) {
                            width: 220px;
                            height: 200px;
                        }


                        @media (max-width: 720px) {
                            width: 200px;
                            height: 180px;
                        }


                        @media (max-width: 620px) {
                            width: 180px;
                            height: 160px;
                        }

                        @media (max-width: 576px) {
                            width: 380px;
                            height: 300px;
                        }

                        // @media (max-width: 420px) {
                        //     width: 480px;
                        //     height: 340px;
                        // }
                    }
                }

                p {
                    font-size: 28px;
                    font-weight: 400;

                    @media (max-width: 1280px) {
                        font-size: 22px;
                        text-align: center;
                    }

                    @media (max-width: 1024px) {
                        font-size: 22px;
                        text-align: center;
                    }

                    @media (max-width: 920px) {
                        font-size: 20px;
                        text-align: center;
                    }

                    @media (max-width: 768px) {
                        font-size: 18px;
                        text-align: center;
                    }

                    @media (max-width: 576px) {
                        font-size: 28px;
                        text-align: center;
                    }

                    // @media (max-width: 420px) {
                    //     font-size: 28px;
                    //     text-align: center;
                    // }
                }
            }

        }
    }
}