@import '../../../styles//index.scss';

.section2 {
    padding: 80px;
}

.container {
    section {
        .bgimg {
            background-image: url('../../../assets/images/pavel-subbotin-XIFIqyLYsoI-unsplash-scaled.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            width: 100%;
            height: 100%;
        }
    }
}

