@import '../../styles/index.scss';

.header {
    position: fixed;
    z-index: 11;
    width: 100%;
    padding: 20px 0;
    background-color: var(--theme-white-background);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

    .container {

        header {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            gap: 20px;

            .logo {
                width: 180px;
                height: 100%;
                display: flex;
                justify-content: start;
                margin-left: 10px;
                align-items: center;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    @media (max-width: 1160px) {
                        width: 150px;
                        height: 50px;
                    }

                    @media (max-width: 1024px) {
                        width: 180px;
                        height: 58px;
                    }

                    @media (max-width: 768px) {
                        width: 140px;
                        height: 48px;
                    }

                    @media (max-width: 576px) {
                        max-width: 120px;
                        height: auto;
                    }

                    @media (max-width: 500px) {
                        display: flex;
                        justify-self: start;

                        max-width: 120px;
                        height: auto;
                    }

                }
            }

            .menubar {
                a {
                    display: inline-block;
                    font-size: 18px;
                    font-weight: 400;
                    text-decoration: none;
                    margin: 0 12px;
                    text-transform: capitalize;
                    color: var(--theme-main-text);

                    &::after {
                        content: "";
                        display: block;
                        width: 0;
                        height: 2px;
                        margin-top: 5px;
                        background-color: var(--theme-main-background);
                        transition: width 0.4s;
                    }

                    &:hover::after {
                        width: 100%;
                    }

                    @media (max-width: 1160px) {
                        font-size: 14px;

                        &::after {
                            margin-top: 3px;
                            height: 1px;

                        }
                    }

                }



                @media (max-width: 1024px) {
                    font-size: 16px;
                    display: none;
                }
            }


            .icons {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;

                .icon-content {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    cursor: pointer;

                    .icon {
                        font-size: 25px;
                        color: var(--theme-main-text);
                        margin: 0 10px;
                        transition: .3s ease-in-out;

                        @media (max-width: 1160px) {
                            font-size: 28px;

                        }

                        @media (max-width: 1024px) {
                            font-size: 25px;
                            margin-left: 28px;
                        }

                        @media (max-width: 768px) {
                            font-size: 20px;
                            margin-left: 28px;
                        }

                        @media (max-width: 576px) {
                            font-size: 18px;
                            margin-left: 28px;

                        }
                                                 

                        @media (max-width: 500px) {
                            display: none;

                        }
                    }

                    p {
                        font-size: 12px;
                        text-transform: capitalize;
                        color: var(--theme-main-text);

                        @media (max-width: 1160px) {
                            font-size: 10px;
                        }

                        @media (max-width: 1024px) {
                            font-size: 14px;
                            padding-top: 6px;
                            padding-left: 18px;
                        }

                        @media (max-width: 500px) {
                            display: none;

                        }



                    }

                    &:hover {
                        transform: scale(1.1);
                        transition: .3s ease-in-out;
                    }
                }

            }

            .menu-icon {
                display: none;

                .icon {
                    font-size: 28px;
                    color: var(--theme-main-text);


                }

                @media (max-width: 1024px) {
                    display: flex;
                    align-items: end;
                    flex-direction: column;
                    cursor: pointer;
                }

                @media (max-width: 950px) {
                    font-size: 20px;
                }

                @media (max-width: 768px) {
                    font-size: 20px;
                }

                @media (max-width: 576px) {
                    font-size: 18px;
                }

                @media (max-width: 420px) {
                    font-size: 16px;

                }

                p {
                    font-size: 10px;
                    margin-right: -2px;
                    text-transform: capitalize;
                    color: var(--theme-main-text);

                    @media (max-width: 1024px) {
                        font-size: 14px;

                    }

                    @media (max-width: 576px) {
                        font-size: 14px;
                    }

                    @media (max-width: 420px) {
                        font-size: 12px;
                    }

                    @media (max-width: 320px) {
                        font-size: 10px;
                    }

                }


            }
        }
    }
}